@import "../../styles/variable.scss";

.statistics-card {
    position: relative;
    z-index: 2;

    &__container {
        padding: 40px 20px 30px 20px;
        background-color: white;
        border-radius: 5px;
       


        .statistics-card__logo__wrapper {
            position: absolute;
            top: -35px;
            left: 15px;
            padding: 15px;
            width: 70px;
            height: 70px;

            border-radius: 50%;
            font-size: 24px;
            background-color: $primary;
            img{
                width: 100%;
                object-fit: cover;

            }

        



        }

        .statistics-card__title {
            font-size: 24px;
            font-weight: 500;
            color: $primary;
            margin-bottom: 10px;



        }

        .statistics-card__description {
            font-size: 14px;
            font-weight: 400;
            color: $grey;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 4;
            /* Set the number of lines to display */
            text-overflow: ellipsis;





        }

    }


    @media (max-width:768px){
        text-align: center;
        &__container {
            .statistics-card__logo__wrapper{
                left: 50%;
                transform: translateX(-50%);

                .statistics-card__description{
                    margin: 0;
                }
            }


        }  
     
    }

}