@import "../../styles/variable.scss";
@import "../../styles/mixin.scss";

.hero__banner__container{
    padding-block: 80px ;
    min-height: 90vh;

    .hero__banner__wrapper{
        @include d-flex-space;
        align-items: start;
        .banner__content__wrapper{
            .title__main{
                font-size:clamp(42px,5vw,64px) ;
                font-weight: 700;
                margin-bottom: 0    ;
                color: $primary

                
    
            }
            .description__main{
                font-size: clamp(16px,2vw,24px);
                font-weight: 400;
                color: $grey;

            }
            .btn__main{
                @include btn-cir(20px,10px,14px)

            }

    
            
        }
    

    }

    .banner__image__wrapper{
        width: 47%;
        height: 100%;
        // overflow-x: visible;
        img{
            object-fit: cover;
            // aspect-ratio: 1/1;
            
        }
    }


@media (max-width:768px){
    min-height: 80vh;
    .hero__banner__wrapper{
        flex-direction: column-reverse;

        .banner__image__wrapper{
            width: 100%;
            
            img{
                width: 100%;
            }
        }

        .banner__content__wrapper{



        }
    }
}
    
}